#disKabuk{
    width: 3cm;
    height: 1.5cm;
   

}
.dropdown{
    margin-left: 3rem;
    
}

#imageDiv{
    width: 10px;;
    height: 10px;
    
}
#dropdownMenuLink{
    width: 35px;;
    height: 35px;
    margin-left: 1rem;
}

#kisiİmage{
    margin-top: 17px;
}