<div class="container" id="disKabuk">
    <div id="imageDiv">

        <img id="kisiİmage" src="null" >
    </div>

    
    <div id="dropdown">
       
        <div class="dropdown">
            <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
             
            </a>
            
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
              <li class="dropdownMenuList"><a class="dropdown-item"  (click)="SignOut()" >Çıkış Yap</a></li>
              <li class="dropdownMenuList"><a class="dropdown-item" >Kişi Bilgileri</a></li>
              
            </ul>
          </div>
    </div>
</div>
